
h1 {
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

h2 {
    font-family: 'Montserrat', sans-serif;
	font-weight: 700;
    font-size: 2em;
    letter-spacing: -0.05em;
    margin: 0px;
    line-height: 1.05em;
}

h3 {
    font-size: 1.4em;
    font-weight: 200;
    letter-spacing: 0.025em;
    line-height: 1.45em;
}

h4 {
    font-family: 'Montserrat', sans-serif;
	font-weight: 700;
    font-size: 3.4em;
    letter-spacing: -0.05em;
    margin: 0px;
    text-transform: uppercase;
    line-height: 1.35em;
    text-align: center;
}

h5 {
    font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1.15em;
    line-height: 1.35em;
    text-transform: uppercase;
}